/* Main layout setup */

.outter-div {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 5px solid #000;
  }
}

@media screen and (min-width: 601px) {
  img {
    /* 
    Legit, the only thing that worked: 
    https://www.w3schools.com/css/css_align.asp
    */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
  
    border: 5px solid #000;
  }
}

.black-background {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
}
.background-image {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
}