/* Main layout setup */

.outter-div {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

img {
  /* 
  Legit, the only thing that worked: 
  https://www.w3schools.com/css/css_align.asp
  */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 5px solid #000;
  animation: fadein 1s ease-in;
}

.black-background {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
}
.background-image {
  animation: fadein 1s ease-in;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background-image: url('/assets/img/korey/0.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
}

/* Opacity Changes */
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}