/* http://emergentweb.com/test/valign.html# */

.outter-div {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.foreground-image {
  width: 50%;
  height: 50%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.foreground-image img {
  max-width: 100%;
  height: auto;
}

.black-background {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
}
.background-image {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background-image: url('/assets/img/korey/0.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
}