@import url('https://fonts.googleapis.com/css?family=Fahkwang|Muli');

.korey-title {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 6em;

  text-align: center;
  color: #FFF;
  background-color: #000;
}
.korey-title h2 {
  font-family: 'Muli', sans-serif;
  margin-bottom: 0em;
}
.korey-title h3 {
  margin-top: 0em;
  font-family: 'Fahkwang', sans-serif;
}

app-photo-slideshow {
  position: fixed;
  top: 6em;
  bottom: 0;
  left: 0;
  right: 0;
}

app-background-music-player {
  /* bottom: 0; */
  border: white solid 2px;
  left: 50%;
  transform: translate(-50%, 0%);
  position: fixed;
  bottom: 0;
  height: 4em;
  width: 4em;
  /* z-index: 1000; */
  /* opacity: 1; */
}

/* app-background-music-player {
  display: none;
} */