<div>
  <!-- Don't show anything, just play the music and loop. -->
  <!-- <iframe width="0px" height="0px" src="https://www.youtube-nocookie.com/embed/IUNw3xAbNPc?rel=0&amp;showinfo=0&autoplay=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLh9hqdYTkzv0wZ4EhqueDwijfDIDau8j9&autoplay=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
